<h1> New Student Form </h1>

<form action='/students' method ='post'>
    <input type=text name=student[first_name] id=student[first_name]>
    <input type=text name=student[last_name] id=student[last_name]>
    <input type=submit id="Submit Student">
</form>